menu "KobitoKey Haptic"

config KOBITOKEY_HAPTIC
    bool "KobitoKey haptic motor support"
    default y

config KOBITOKEY_HAPTIC_PULSE_MS
    int "KobitoKey haptic pulse duration in milliseconds"
    default 25
    range 1 2000
    depends on KOBITOKEY_HAPTIC

config KOBITOKEY_HAPTIC_COOLDOWN_MS
    int "KobitoKey haptic cooldown in milliseconds"
    default 50
    range 0 2000
    depends on KOBITOKEY_HAPTIC

config KOBITOKEY_HAPTIC_USB_PULSE_MS
    int "KobitoKey USB connection haptic duration in milliseconds"
    default 20
    range 1 2000
    depends on KOBITOKEY_HAPTIC && KOBITOKEY_VBUS_SENSE

config KOBITOKEY_HAPTIC_BOOT_DELAY_MS
    int "KobitoKey boot haptic delay in milliseconds"
    default 500
    range 0 10000
    depends on KOBITOKEY_HAPTIC

config KOBITOKEY_HAPTIC_BOOT_LONG_MS
    int "KobitoKey boot haptic long pulse duration in milliseconds"
    default 20
    range 0 10000
    depends on KOBITOKEY_HAPTIC

config KOBITOKEY_HAPTIC_BOOT_GAP1_MS
    int "KobitoKey boot haptic first gap in milliseconds"
    default 600
    range 0 10000
    depends on KOBITOKEY_HAPTIC

config KOBITOKEY_HAPTIC_BOOT_SHORT_MS
    int "KobitoKey boot haptic short pulse duration in milliseconds"
    default 20
    range 0 10000
    depends on KOBITOKEY_HAPTIC

config KOBITOKEY_HAPTIC_BOOT_GAP2_MS
    int "KobitoKey boot haptic second gap in milliseconds"
    default 150
    range 0 10000
    depends on KOBITOKEY_HAPTIC

endmenu



menu "KobitoKey VBUS Sense"

config KOBITOKEY_VBUS_SENSE
    bool "KobitoKey VBUS detection support"
    default y

config KOBITOKEY_VBUS_LOG_BOOT_STATE
    bool "Log VBUS state at boot"
    default y
    depends on KOBITOKEY_VBUS_SENSE

config KOBITOKEY_VBUS_DEBOUNCE_MS
    int "VBUS detection debounce time in milliseconds"
    default 20
    range 0 1000
    depends on KOBITOKEY_VBUS_SENSE

endmenu